{% set title = 'Admin View' %}
{% set admin = true %}
{% extends 'base.html' %}

{% block content %}
  <div class="admin-view">
    <div class="admin-view-title">
      <h2>Products</h2>
      <a href="/createProduct"><button class="btn">+ New Product</button></a>
    </div>
    {% for product in products %}
    <form action="/createPlan" method="POST">
      <input type="hidden" value="{{ product.id }}" name="productId"/>
      <input type="hidden" value="{{ product.name }}" name="productName"/>

      <div class="admin-view-product">
        <div class="admin-view-product-title">
          <h4 class="admin-view-product-name">{{product.name}}</h4>
          <input class="btn btn-small" type="submit" value="+ New Plan">
        </div>
        
        {% for plan in product.plans %}
          <div class="admin-view-plan">
            <p>{{plan.nickname}} &mdash; {{ plan.amount }} / 
              {% if (plan.interval_count > 1) %} 
                {{ plan.interval_count }} {{ plan.interval }}s
                
              {% else %}
                {{ plan.interval }}
              {% endif %}
            </p>
          </div>
        {% endfor %}
      </div>
    </form>
    {% endfor %}
  </div>
{% endblock %}

<script>

</script>
