{% set title = 'Customer View' %}
{% set admin = false %}
{% extends 'base.html' %}


{% block content %}

<div class="customer-view">
  {% for product in products %}
  <div class="customer-view-products">
    <h2>{{product.name}}</h2>
    <div class="customer-view-plans">
      {% for plan in product.plans %}
      <div class="customer-view-plan">
        <form action="/signUp" method="POST">
          <input hidden value="{{ product.id }}" name="productId"/>
          <input hidden value="{{ plan.id }}" name="planId"/>
          <input hidden value="{{ plan.nickname }}" name="planName"/>
          <input hidden value="{{ plan.amount }}" name="planAmount"/>
          <h3>{{plan.nickname}} &mdash; {{ plan.amount }}</h3>
          <input class="btn" type="submit" value="Sign Up"/>
        </form>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
