body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body * {
  box-sizing: border-box
}

.app-container {
  padding: 32px;
  width: 100%;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header a {
  text-decoration: none;
}

.app-header p {
  margin: 0 6px;
  font-size: 12px;
  cursor: pointer;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
  color: #a5a5a5;
}

.app-header p:hover {
  color: #576adb;
}

.app-header p.active {
  color: #576adb;
  border-color: #acb6f3;
}

.app-header span {
  display: inline-block;
  color: #aaa;
  font-size: 16px;
  padding-bottom: 2px;
  border-bottom: 3px solid transparent;
}

/* General */
.btn {
  background-color: #576adb;
  color: #ffffff;
  padding: 8px 12px;
  border: 0px;
  border-radius: 4px;
  font-size: 14px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-small {
  font-size: 12px;
  padding: 6px 8px;
}

/* Admin View */
.admin-view {
  width: 50%;
  margin: 0 auto;
}

.admin-view-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-view-title h2 {
  margin-right: 24px;
}

.admin-view-product {
  padding: 16px;
  background-color: #eee;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 24px;
}

.admin-view-product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-view-product-name {
  margin: 0 8px 0 0;
}


/* Create product */
.create-product, .create-plan {
  width: 50%;
  margin: 0 auto;
}

.create-product-container, .create-plan-container {
  padding: 24px;
  background-color: #eee;
  border-radius: 3px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: bold;
}

input {
  border: 0px;
  background-color: #fff;
  border-radius: 4px;
  color: black;
  padding: 8px 12px;
  font-size: 14px;
  margin-bottom: 24px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  width: 100%;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

input:focus {
  outline: 0 !important;
  box-shadow: 0 1px 3px 0 #cfd7df;
}

input::placeholder {
  color: #aab7c4;
}

input.btn {
  width: auto;
  display: inline-block;
  margin-bottom: 0px;
}

.label-input-container {
  position: relative;
}

.label-left-input {
  padding-left: 26px;
}

.label-currency {
  position: absolute;
  top: 7px;
  left: 12px;
  color: #777;
}

/* Customer View */
.customer-view-plans {
  display: flex;
  align-items: center;

}

.customer-view-plan {
  background-color: #eee;
  padding: 24px;
  border-radius: 4px;
  flex: 1;
  margin-right: 24px;
}

.customer-view-plan:nth-last-of-type(1) {
  margin-right: 0px;
}

/* Sign Up Page */
.sign-up {
  width: 50%;
  margin: 0 auto;
}

.sign-up-container {
  padding: 24px;
  background-color: #eee;
  border-radius: 3px;
}

.sign-up .btn {
  margin-top: 16px;
}

#card-errors {
  margin-top: 6px;
  font-size: 14px;
}
