/* Customer View */
.customer-view h2 {
  margin-left: 12px;
}

.customer-view-plans {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.customer-view-plan {
  background-color: #eee;
  padding: 24px;
  border-radius: 4px;
  flex: 1;
  margin: 0 12px 24px;
  min-width: 280px;
}

.customer-view-plan h3 {
  margin-top: 0px;
}

/* Sign Up Page */
.sign-up {
  width: 50%;
  margin: 0 auto;
  min-width: 280px;
}

.sign-up h2 {
  margin-top: 6px;
}

.sign-up-product {
  margin-top: 24px;
}

.sign-up-container {
  padding: 24px;
  background-color: #eee;
  border-radius: 3px;
}

.sign-up .btn {
  margin-top: 16px;
}

#card-errors {
  margin-top: 6px;
  font-size: 14px;
}
